@{
    ViewBag.Title = "Home Page";
}
<main class="indexMain">
    <nav class="text-right py-3 mr-3">
        <div class="row">
            <div class="col-6 text-left">
                <img src="~/Content/obrazki/u11.png" />
            </div>
            <div class="col-6">
                <button class="btn btn-light" onclick="location.href='@Url.Action("Login","Account")'">Logowanie</button>
                <button class="btn btn-light" onclick="location.href='@Url.Action("Register","Account")'">Rejestracja</button>
            </div>
        </div>
    </nav>
    <section class="text-center">
        <div class="row my-3">
            <div class="col-6">
                <img src="~/Content/obrazki/u9.png" class="imgIndex " />
            </div>
            <div class="col-6 text-left">
                <h5 class="font-weight-bold">
                    Warsztat<br />
                    Samochodowy<br />
                    Ar-Car
                </h5>
            </div>
        </div>       
        <p>
            <button class="btn btn-sm btn-light" onclick="location.href='@Url.Action("Aplikacja","Home")'">Aplikacja</button>
        </p>
        <p>
            <button class="btn btn-sm btn-light">Umawiane wizyty</button>
        </p>
        <p>
            <button class="btn btn-sm btn-light" onclick="location.href='@Url.Action("Cennik","Home")'">Cennik</button>
        </p>
        <p>
            <button class="btn btn-sm btn-light" onclick="location.href='@Url.Action("O_nas","Home")'">O nas</button>
        </p>
            <button class="btn btn-sm btn-light mb-5" onclick="location.href='@Url.Action("Contact","Home")'">Kontakt</button>
    </section>
</main>